<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="clienteStyle.css"rel="stylesheet">
    <title>CLIENTE</title>
  </head>
  <tbody >

  <div class="menu">
    <h5 id="menuTitulo">MENU</h5>
    <div class="productosAgregadosR">
      <input type="image" src="productosAgregados.png" id="productosAgregados" onclick="cambiarImagen()">
      <b id="productoAT">PRODUCTOS AGREGADOS</b>
    </div>
    <div class="historialConsultasR">
      <input type="image" src="historialConsultas.png" id="historialConsultas" >
      <b id="historialCT">HISTORIAL DE CONSULTAS</b>
    </div>
    <div class="editarPerfilR">
      <input type="image" src="editarPerfil.png" id="editarPerfil" >
      <b id="editarPT">EDITAR PERFIL</b>
    </div>
    <div class="configuracionesR">
      <input type="image" src="configuraciones.png" id="configuraciones" >
      <b id="configuracionesT">CONFIGURACIONES</b>
    </div>
    <div class="ayudaR">
      <input type="image" src="ayuda.png" id="ayuda" >
      <b id="ayudaT">AYUDA</b>
    </div>
  </div>
    <di class="buscador">
      <input placeholder="BUSCAR PRODUCTOS" id="buscador" type="text" >
    </di>
    <div class="productos">

      <div class="producto1D">
        <input type="image" src="producto1.png" alt="" id="producto1" ondblclic="mostrar()">
        <h5 id="producto1T">ARROZ</h5>
      </div>
      <div class="producto2D">
        <img src="producto2.png" alt="" id="producto2">
        <h5 id="producto2T">PANELA</h5>
      </div>
      <div class="producto3D">
        <img src="producto3.png" alt="" id="producto3">
        <h5 id="producto3T">AREPA</h5>
      </div>
      <div class="producto4D">
        <img src="producto4.png" alt="" id="producto4">
        <h5 id="producto4T">ACEITE</h5>
      </div>
      <div class="producto5D">
        <img src="producto5.png" alt="" id="producto5">
        <h5 id="producto5T">LECHE</h5>
      </div>
      <div class="producto6D">
        <img src="producto6.png" alt="" id="producto6">
        <h5 id="producto6T">AZUCAR</h5>
      </div>
      <div class="producto7D">
        <img src="producto7.png" alt="" id="producto7">
        <h5 id="producto7T">PAPA</h5>
      </div>
      <div class="producto8D">
        <img src="producto8.png" alt="" id="producto8">
        <h5 id="producto8T">ATUN</h5>
      </div>
      <div class="producto9D">
        <img src="producto9.png" alt="" id="producto9">
        <h5 id="producto9T">HUEVOS</h5>
      </div>
      <div class="producto10D">
        <img src="producto10.png" alt="" id="producto10">
        <h5 id="producto10T">GASEOSA</h5>
      </div>
    </div>
    <div>
      <a href="index.ejs" id="cerrarSeccion">CERRAR SECCIÓN</a>
    </div>
    <div class="productosSeleccionados">
      <h5 id="productosAT">PRODUCTOS AGREGADOS</h5>
      <div class="productoSD1">


      </div>
      <div class="productoSD2">


      </div>
      <div class="productoSD3">

      </div>
      <div class="productoSD4">

      </div>
      <div class="ayudaR">

      </div>
    </div>
    <div class="regresarD">
      <input type="image" src="regresar.png" id="regresarI">
      <b id="regresarT">REGRESAR</b>
    </div>
    <div class="siguienteD">
      <input type="image" src="siguiente.png" id="siguienteI">
      <b id="siguienteT">SIGUIENTE </b>
    </div>
    <div class="redesSociales"></di>
      <input type="image" id="facebook" src="facebook.png" >
      <input type="image" id="instagram"src="instagram.png">
      <input type="image" id="twiter" src="twiter.png">
  </body>
  <script src="prueba.js"></script>
</html>
