<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="tenderoRegistroEstilo.css"rel="stylesheet">
  </head>
  <body>
    <div class="rectanngulo">

    </div>
    <div class="registroTendero">
      <h5>¡CREA UNA CUENTA FÁCIL Y RÁPIDO DE TENDERO!</h5>
      <form action="/registrarT" method="post">
      <input type="text" id="nombreT" name="nombreT" placeholder="NOMBRE">
      <input type="text" id="correoT" name="correoT" placeholder="CORREO ELECTRONICO">
      <input type="text" id= "nombreTT" name="nombreTT" placeholder="NOMBRE DE LA TIENDA">
      <input type="text" id= "direccionT" name="direccionT" placeholder="DIRECCION DE LA TIENDA">
      <input type="text" id= "usuarioT" name="usuarioT" placeholder="USUARIO">
      <input type="text" id="contrasenaT" name="contrasenaT" placeholder="CONTRASEÑA"  >
      <input type="text" id="contrasenaTT" name="contrasenaTT" placeholder="CONFIRMAR CONTRASEÑA"  >
      <button id="ingresar">INGRESAR</button>
      </form>


  </body>
</html>
