<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="clienteRegistroEstilo.css"rel="stylesheet">
  </head>
  <body>
    <div class="rectanngulo">

    </div>
    <div class="registroCliente">
      <h5>¡CREA UNA CUENTA FÁCIL Y RÁPIDO DE CLIENTE!</h5>
      <form action="/registrarC" method="post">
      <input type="text" id="nombreC" name="nombreC" placeholder="NOMBRE">
      <input type="text" id="correoC" name="correoC" placeholder="CORREO ELECTRONICO">
      <input type="text" id= "usuarioC" name="usuarioC" placeholder="USUARIO">
      <input type="text" id="contrasenaC" name="contrasenaC" placeholder="CONTRASEÑA"  >
      <input type="text" id="contrasenaCC" name="contrasenaCC" placeholder="CONFIRMAR CONTRASEÑA"  >
      <button id="ingresar">INGRESAR</button>
      </form>


  </body>
</html>
