#hp{
  color: rgb(12,34,56,23);
}
#registro{
  position: absolute;
  width: 107px;
  height: 28px;
  left: 1000px;
  top: 20px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #000000;
}
.cuadradoLogin{
  position: absolute;
  width: 400px;
  height: 500px;
  left: 900px;
  top: 55px;

  background: #3A2E97;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#usuario{
      position: absolute;
      width: 300px;
      height: 44px;
      left: 57px;
      top: 100px;
      background: #F8F2F2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      text-align: center;
}
#contrasena{
      position: absolute;
      width: 300px;
      height: 44px;
      left: 57px;
      top: 200px;
      background: #F8F2F2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      text-align: center;
}
#ingresar{
      position: absolute;
      width: 300px;
      height: 44px;
      left: 57px;
      top: 300px;
      background-color: #E25D41;
      color: white;
      border-radius: 10px;
      text-align: center;
      text-decoration-color: #FFFF;
}
#olvideContrasena{
  position: absolute;
  width: 300px;
  height: 28px;
  left: 55px;
  top: 430px;

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #E25D41;
}
#imgpublicidad{
  position: absolute;
  width: 500px;
  height: 500px;
  left: 200px;
  top: 70px;



}
.titulo{
  position: absolute;
  width: 500px;
  height: 42px;
  left: 340px;
  top: 20px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  /* identical to box height */


  color: #000000;
}
